:root {
    --couleur-4: #333533;
    --couleur-3: #242423;
    --couleur-2: #355374;
    --couleur-1: #E8EDDF;
    --couleur-0: #cfdbd5;
}

.form {
    margin: 4rem auto 0 auto;
    max-width: 800px;

}
